.mainLayout{
    width: 100vw;
    max-width: 1000px;
    height:100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    font-size: 14px;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.ctgrLayout{
    position: relative;
    z-index: 1100;
    overflow:scroll;
    display:flex;
    flex-direction:row;
    width:100%; 
    box-sizing:border-box;
    align-items:center; 
    scrollbar-width: none;
    height: 61px;
    min-height: 61px;
    max-height: 61px;
}

.ctgrLayout::-webkit-scrollbar{
    display: none;
}

.ctgrOn{
    height:29px;
    width:auto;
    padding:16px 15px 16px 15px;
}

.ctgrOff{
    height:29px;
    width:auto;
    padding:16px 15px 16px 15px;
}
 

.avatarLayout{
    background-color: #f8f8f8;
    width: 100%;
    max-width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.avatarButtonTop{ 
    display: flex;
    flex-direction: row;
    top:0px;
    right:0px; 
    position: absolute;
    z-index: 4000;
}

.avatarButtonTop div{
    position: relative;
    
    margin:17px;
    background-color: #5d5d5d;
    padding:10px 20px 10px 20px;
    /* background-color: #505dff; */
    /* color:#d6d4f4; */
    background-color: #fff;
    box-shadow: 3px 5px 5px #eee;
    color:#323232;
    border-radius: 50px;
}

.avatarButtonTop img {
    width: 20px;
    height: 20px;
    padding:17px;
}
.avatarButtonBottom{
    
    z-index: 4000;
    display: flex;
    flex-direction: column;
    bottom:15px;
    right:15px;
    position: absolute;
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 3px 5px 5px #eee;
}

.avatarButtonBottom div:nth-child(1){

    padding:14px 10px 8px 10px;
}

.avatarButtonBottom div:nth-child(2){

    padding:8px 10px 14px 10px;
}

.avatarButtonBottom img{
    width: 18px;
    height: 18px;
    
}

.avatarButtonBottom2{
    
    z-index: 4000;
    display: flex;
    bottom:15px;
    left:15px;
    position: absolute;
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 3px 5px 5px #eee;
}
 
.avatarButtonBottom2 img{
    width: 18px;
    height: 18px;
    
    padding:10px;
}

.avatarimg{
    position: absolute;
    width: 350px;
    max-width: 80vw;
    height: auto;
}

.fullAvatarimg{
    position: absolute;
    width: 100vw;
    max-width: 500px;
    height: auto;
}

.itemLayout{
    z-index: 1000;
    max-height: calc(50% - 61px);

    width:100%;
    min-width:100%;
    max-width: 100%;    

    display: grid;
    padding:3px;
    box-sizing: border-box;
    grid-gap: 3px 3px;
    overflow-y: scroll; 
    scrollbar-width: none;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
}

.itemLayout::-webkit-scrollbar{
    display: none;
} 
  
.itemLayout img{
    width:calc((100vw - 30px) / 5);
    height:calc((100vw - 30px) / 5);
    max-width: 194px;
    max-height: 194px;
    object-fit: cover;
    /* background-color: #e0e0e0; */
    border-radius: 15px;
    box-sizing: border-box;
}

.avatar-selected-on{
    border: 2px solid #969696;
  }
  
  .avatar-selected-off{
    border: 2px solid #fff;
  
  }
  
.cat{
    position: absolute;
    z-index: 100;
}

.pants{
    z-index: 200;
}

.dress{
    z-index: 300;
}

.layered{
    z-index: 400;
}

.bag{
    z-index: 500;
}

.hairitem{
    z-index: 1000;
}

.acc{
    z-index: 1200;
}

.hand{
    position: absolute;
    z-index: 250;
}

.fullDialog{
    width: 100vw;
    max-width: 1000px; 
    height: 100%;
    display: flex; 
    position: absolute;
    background-color: #f8f8f8;
    z-index: 5000; 
}

.dialogClosed{
    position: absolute;
    width: 18px;
    height: 18px;
    padding:10px;
    margin:15px;
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 3px 5px 5px #eee;
}
 
.fullAvatar{
    width:100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialog{
    width: 100vw;
    max-width: 1000px; 
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: #00000050;
    z-index: 5000; 
    color:#5d5d5d;
}

.dialogButtonList{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #fff;
}
.dialogButtonList div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 250px;
    border-bottom:1px solid #dcdcdc    
}

.dialogButtonList div:nth-child(3){
    border:0px;
}

.toast{
    width: 100vw;
    max-width: 1000px; 
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 5000; 
    color:#5d5d5d;
}

.toastBox{
    background-color: #00000090;
    color:#fff;
    border-radius: 50px;
    padding:8px 12px 8px 12px;
}